<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuecheng.content.mapper.CategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xuecheng.content.model.po.Category">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="parentid" property="parentid" />
        <result column="grade" property="grade" />
        <result column="orderby" property="orderby" />
        <result column="paper_id" property="paperId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, parentid, grade, orderby, paper_id
    </sql>

    <select id="selectTreeNodes" resultType="com.xuecheng.content.model.dto.CategoryDto" parameterType="long">
        WITH recursive t1 AS (
            SELECT * FROM  category p WHERE  p.id = #{id}
            UNION ALL
            SELECT t.* FROM category t INNER JOIN t1 ON t1.id = t.parentid
        )
        SELECT *  FROM t1 WHERE STATUS = 1

    </select>
    <select id="selectTreeNodesWithoutStatus" resultType="com.xuecheng.content.model.dto.CategoryDto" parameterType="long">
        WITH recursive t1 AS (
            SELECT * FROM  category p WHERE  p.id = #{id}
            UNION ALL
            SELECT t.* FROM category t INNER JOIN t1 ON t1.id = t.parentid
        )
        SELECT *  FROM t1
        ORDER BY GRADE
    </select>

    <select id="allQueryTreeNodes" resultType="com.xuecheng.content.model.dto.CategoryDto" >
        SELECT *
        FROM category
        WHERE STATUS = 1
    </select>

    <select id="upQueryTreeNodes" resultType="com.xuecheng.content.model.dto.CategoryDto" parameterType="long">
        WITH recursive t1 AS (
            SELECT * FROM  category p WHERE  p.id =  #{id}
            UNION ALL
            SELECT t.* FROM category t INNER JOIN t1 ON t1.parentid = t.id
        )
        SELECT *  FROM t1
        WHERE STATUS = 1
        ORDER BY GRADE

    </select>
    <select id="getMAXOrderby" resultType="java.lang.Integer">
        SELECT MAX(p.orderby)
        FROM category p
        WHERE p.parentid = #{parentid}
    </select>


</mapper>
